services:
  reactjs:
    image: somkiat/react:5.0
    build:
      context: ./demo01
      dockerfile: Dockerfile
    ports:
      - "8888:80"
  
  go:
    image: somkiat/go:1.0
    build:
      context: ./demo02
      dockerfile: Dockerfile
    ports:
      - "1323:1323"

  mirror:
    image: sonatype/nexus3
    ports:
      - "8081:8081"

  sonarscanner_reactjs:
    image: sonarsource/sonar-scanner-cli
    environment:
      - SONAR_HOST_URL=http://165.22.240.139:9000
      - SONAR_TOKEN=sqa_d28cc336e86e793fe0f9722201d20df717aa5326
      - SONAR_PROJECT_BASE_DIR=/app
    volumes:
      - ./demo01:/app

  sonarscanner_go:
    image: sonarsource/sonar-scanner-cli
    environment:
      - SONAR_HOST_URL=http://165.22.240.139:9000
      - SONAR_TOKEN=sqa_d28cc336e86e793fe0f9722201d20df717aa5326
      - SONAR_PROJECT_BASE_DIR=/app
    volumes:
      - ./demo02:/app

  sbom_generator_reactjs:
    image: node:25
    volumes:
      - ./demo01:/app
    working_dir: /app
    command: ["/bin/sh", "-c", "npm install --global @cyclonedx/cyclonedx-npm && cyclonedx-npm -o sbom-reactjs.json"]

  sbom_generator_go:
    image: golang:1.25
    volumes:
      - ./demo02:/app
    working_dir: /app
    command: ["/bin/sh", "-c", "go install github.com/CycloneDX/cyclonedx-gomod/cmd/cyclonedx-gomod@latest && cyclonedx-gomod mod -json -output sbom-go.json"]
  
  api_test:
    build: ./api_test
    tty: true
    volumes:
      - ./api_test:/etc/newman/newman
  
  ui_test:
    build: ./ui_test
    tty: true
    volumes:
      - ./ui_test:/app/report
