services:
  reactjs:
    image: somkiat/react:5.0
    build:
      context: ./demo01
      dockerfile: Dockerfile
    ports:
      - "8888:80"

  mirror:
    image: sonatype/nexus3
    ports:
      - "8081:8081"

  sonarscanner_reactjs:
    image: sonarsource/sonar-scanner-cli
    environment:
      - SONAR_HOST_URL=http://165.22.240.139:9000
      - SONAR_TOKEN=sqa_d28cc336e86e793fe0f9722201d20df717aa5326
      - SONAR_PROJECT_BASE_DIR=/app
    volumes:
      - ./demo01:/app

  sonarscanner_go:
    image: sonarsource/sonar-scanner-cli
    environment:
      - SONAR_HOST_URL=http://165.22.240.139:9000
      - SONAR_TOKEN=sqa_d28cc336e86e793fe0f9722201d20df717aa5326
      - SONAR_PROJECT_BASE_DIR=/app
    volumes:
      - ./demo02:/app
