services:
  reactjs:
    image: somkiat/react:5.0
    build:
      context: ./demo01
      dockerfile: Dockerfile
    ports:
      - "8888:80"

  mirror:
    image: sonatype/nexus3
    ports:
      - "8081:8081"